/* Facebook gomb */
.btn-facebook {
    border: none;
    background-color: #3A5795;
    color: #f0f0f0;
    box-shadow: 0 0 5px #777777;
    border-radius: 3px;
    transition: all 0.5s;
    
}

.btn-facebook:hover {
    box-shadow: 0 0 8px #777777;
    
}

/* Profil div.*/
.profile-div {
    position: fixed;
    left: -100%;
    top: 100px;
    opacity: 0;
/*    transition: all 0.5s; */
    
}

.profile-div.show {
    position: relative;
    animation-name: facebook;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    left: 0;
    top: 0;
    opacity: 1;
    
}

.profile-div form {
    width: 50%;
    margin: 10px auto;
    
}
@media screen and (max-width: 550px) {
    .profile-div form {
        width: 100%;
    }
}
    
/* Keyframes */
@keyframes facebook {
    0%  {opacity: 0; left: -100%; top: 100px;}
    50% {opacity: 0.5; left: 0; top: 100px;}
    100% {opacity: 1; left: 0; top 0;}

/*    0%  {opacity: 0; left: -100%;}
    25% {opacity: 0; left: -75%;}
    50% {opacity: 0; left: -50%;}
    75% {opacity: 0; left: -25%;}
    100% {opacity: 1; left: 0;} */
}


/*
p.lead {
    t.25ext-decor25ion: underline;
    font-weight: 700;
    transition: all 0.5s;
}

p.sub-lead:hover {
    font-style: italic;
    font-size: 150%;
}

a:visited {
    color: red;
}
*/
